@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#root {
  font-family: 'Roboto Mono';
  text-align: center;
  width: 100vw;
    height: 100vh;
}

.loader {
  height: 100vh;
  font-family: Roboto Mono, monospace;

}

.loader h1 {
  letter-spacing: -3px;
  font-weight: bolder;
}

.loader h2 {
  text-transform: uppercase;
}

.home-content {
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  place-items: center;
}

.card {
  text-align: left;
}

.alert {
  border-radius: 0;
}

input[type="checkbox"] {
  cursor: pointer;
}

.list-group button {
  text-transform: capitalize;
  border-radius: 0%;
}

.list-group button:hover {
  border-color: #0D6EFD;
}

.list-group button:active {
  border-color: lightslategray;
  background-color: #0D6EFD;
}
